@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100dvw;
}
li {
  list-style: none;
}

nav > ul {
  display: flex;

  justify-content: flex-end;
  border-bottom: 2px solid pink;

  > li {
    padding: 1rem;
  }
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  margin-left: auto;
  justify-content: space-between;
  display: flex;
}

.centerH {
  margin-left: auto;
  margin-right: auto;
}

.centerV {
  justify-self: center;
  align-self: center;
}

.announce {
  font-size: 3rem;
}

a.active {
  text-decoration: underline;

  color: #64fcff;
}

a > svg {
  border: none;
  color: white;
}

a.active > svg {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  stroke: #64fcff;
  color: #64fcff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#logo {
  font-family: "Coiny", fantasy;
  padding: 10px;
  font-size: 2rem;
}
