* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100dvw;
}
li {
  list-style: none;
}

nav > ul {
  display: flex;

  justify-content: flex-end;
  border-bottom: 2px solid pink;

  > li {
    padding: 1rem;
  }
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  margin-left: auto;
}

.centerH {
  margin-left: auto;
  margin-right: auto;
}

.centerV {
  justify-self: center;
  align-self: center;
}

.announce {
  font-size: 3rem;
}

a.active {
  text-decoration: underline;
}

a > svg {
  border: none;
}

a.active > svg {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
